# Ignore non-directories in root, so you can use it as scratch space.
/*
!/*/

# Ignore Emacs autosave files.

\#*\#
.#*

# Ignore cabal build directory.
dist

# Ignore result of test suite.
data/*testout

# Ignore side-effects of compilation.
*.aux
*.log
*.bbl
*.blg
*.out
*.prof
*.o
*.hi
*.snm
*.toc
*.vrb

!data/*.out
!data/*/*.out

# Ignore core dumps.
core
