# Ignore non-directories in root, so you can use it as scratch space.
/*
!/*/

# Ignore Emacs autosave files.

\#*\#
.#*
*~

# Ignore IntelliJ configuration files
.idea/

# Ignore cabal build directory.
dist
dist-newstyle

# Ignore Stack junk
.stack-work

# Ignore IDE info
.hie

# Ignore side-effects of compilation.
*.aux
*.log
*.bbl
*.blg
*.out
*.prof
*.o
*.hi
*.snm
*.toc
*.vrb
*.nav

# Ignore core dumps.
core
core.*

# Ignore flymake-files created by Emacs.
*flymake*

# Ignore temporary backup directories.
*-backup

# Ignore directories often created by testing
data/
lib/
testparser/

# Ignore macOS system files.
.DS_Store
