Cosmin Oancea <cosmin.oancea@diku.dk> <coancea76@yahoo.com>
Henrik Urms <urmshenrik@gmail.com>
Martin Elsman <martin.elsman@gmail.com> <mael@di.ku.dk>
Maxwell Orok <morok@mevex.com>
Mikkel Storgaard Knudsen <mikkelstorgaard@gmail.com> <mikkel.storgaard@eksponent.com>
Oleksandr Shturmov <oleks@oleks.info> <oleks.net@gmail.com>
Philip Munksgaard <philip@munksgaard.me> <pmunksgaard@gmail.com>
Robert Schenck <zfnmxt@zfnmxt.com>
