name: CI

on:
  pull_request:
    branches: [ master ]

  push:
    branches: [ master ]

jobs:
  build-linux-nix:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v8

    - uses: cachix/cachix-action@v6
      with:
        name: futhark
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: Build Futhark
      run: nix-build --argstr suffix nightly-linux-x86_64 --argstr commit $GITHUB_SHA

    - uses: actions/upload-artifact@v1
      with:
        name: futhark-nightly-linux-x86_64.tar.xz
        path: result/futhark-nightly-linux-x86_64.tar.xz

  build-linux-cabal:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo add-apt-repository ppa:hvr/ghc
        sudo apt-get update
        sudo apt-get install ghc-8.8.2
        echo "::add-path::/opt/ghc/bin"

    - uses: actions/cache@v2
      name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          dist-newstyle
        key: ${{ runner.os }}-cabal

    - name: Build Futhark
      run: |
        cabal --version
        cabal update
        cabal install --install-method=copy --overwrite-policy=always

  build-linux-stack:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y haskell-stack

    - uses: actions/cache@v2
      name: Cache ~/.stack and .stack-work
      with:
        path: |
          ~/.stack
          .stack-work
        key: ${{ runner.os }}-stack

    - name: Build Futhark
      run: |
        stack setup
        stack install

  build-mac-cabal:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        brew install cabal-install ghc

    - uses: actions/cache@v2
      name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          dist-newstyle
        key: ${{ runner.os }}-cabal

    - name: Build
      run: |
        cabal v2-update
        cabal install --install-method=copy --overwrite-policy=always

  build-windows:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        choco install -y msys2
        choco install -y ghc --version=8.8.2 --allow-downgrade

    - uses: actions/cache@v2
      name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
      with:
        path: |
          ~/AppData/Roaming/cabal/packages
          ~/AppData/Roaming/cabal/store
          dist-newstyle
        key: ${{ runner.os }}-cabal

    - name: Build
      shell: bash
      run: |
        cabal update
        try() { cabal install -j1 --install-method=copy --overwrite-policy=always --installdir=.; }
        try || try || try

    - uses: papeloto/action-zip@v1
      with:
        files: futhark.exe
        dest: futhark-nightly-windows-x86_64.zip

    - uses: actions/upload-artifact@v1
      with:
        name: futhark-nightly-windows-x86_64.zip
        path: futhark-nightly-windows-x86_64.zip

  test-unit-and-style:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v8

    - uses: actions/cache@v2
      name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          dist-newstyle
        key: ${{ runner.os }}-${{ hashFiles('nix/sources.json') }}-style

    - name: Style check
      run: nix-shell --pure --run "tools/style-check.sh src"

    - name: Unit tests
      run: |
          nix-shell --pure --run "cabal update"
          nix-shell --pure --run "cabal test"


  test-interpreter:
    runs-on: ubuntu-latest
    needs: [build-linux-nix]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: Install from nightly tarball
      run: |
        tar xvf futhark-nightly-linux-x86_64.tar.xz
        make -C futhark-nightly-linux-x86_64/ install PREFIX=$HOME/.local
        echo "::add-path::$HOME/.local/bin"

    - run: |
        futhark test -i tests examples

  test-c:
    runs-on: ubuntu-latest
    needs: [build-linux-nix]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: Install from nightly tarball
      run: |
        tar xvf futhark-nightly-linux-x86_64.tar.xz
        make -C futhark-nightly-linux-x86_64/ install PREFIX=$HOME/.local
        echo "::add-path::$HOME/.local/bin"

    - run: |
        futhark test -c --backend=c tests examples --no-tuning
        make -C libtests/c

  test-python:
    runs-on: ubuntu-latest
    needs: [build-linux-nix]

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python-numpy

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: Install from nightly tarball
      run: |
        tar xvf futhark-nightly-linux-x86_64.tar.xz
        make -C futhark-nightly-linux-x86_64/ install PREFIX=$HOME/.local
        echo "::add-path::$HOME/.local/bin"

    - run: |
        futhark test -c --no-terminal --no-tuning --backend=python --exclude=no_python tests examples

  test-opencl:
    runs-on: ubuntu-latest
    needs: [build-linux-nix]

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y opencl-headers nvidia-cuda-dev nvidia-opencl-dev

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: Install from nightly tarball
      run: |
        tar xvf futhark-nightly-linux-x86_64.tar.xz
        make -C futhark-nightly-linux-x86_64/ install PREFIX=$HOME/.local
        echo "::add-path::$HOME/.local/bin"

    - run: |
        futhark test -C --no-terminal --backend=opencl --exclude=no_opencl tests examples

  test-cuda:
    runs-on: ubuntu-latest
    needs: [build-linux-nix]

    steps:
    - uses: actions/checkout@v2

    - name: Install OS dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y nvidia-cuda-dev

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: Install from nightly tarball
      run: |
        tar xvf futhark-nightly-linux-x86_64.tar.xz
        make -C futhark-nightly-linux-x86_64/ install PREFIX=$HOME/.local
        echo "::add-path::$HOME/.local/bin"

    - run: |
        futhark test -C --no-terminal --backend=cuda --exclude=no_opencl tests examples

  test-tools:
    runs-on: ubuntu-latest
    needs: [build-linux-nix]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: Install from nightly tarball
      run: |
        tar xvf futhark-nightly-linux-x86_64.tar.xz
        make -C futhark-nightly-linux-x86_64/ install PREFIX=$HOME/.local
        echo "::add-path::$HOME/.local/bin"

    - run: |
        cd pkgtests && sh test.sh

  benchmark-opencl:
    runs-on: ubuntu-latest
    needs: [build-linux-nix]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y opencl-headers nvidia-cuda-dev nvidia-opencl-dev

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: Install from nightly tarball
      run: |
        tar xvf futhark-nightly-linux-x86_64.tar.xz
        make -C futhark-nightly-linux-x86_64/ install PREFIX=$HOME/.local
        echo "::add-path::$HOME/.local/bin"

    - run: |
        futhark test -C --no-terminal --backend=opencl --exclude=no_opencl futhark-benchmarks

  deploy-nightly:
    runs-on: ubuntu-latest
    needs: [build-windows, build-linux-nix]
    if: github.ref == 'refs/heads/master'

    steps:
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSHKEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-windows-x86_64.zip

    - uses: actions/download-artifact@v2
      with:
        name: futhark-nightly-linux-x86_64.tar.xz

    - name: scp to server
      run: scp -o StrictHostKeyChecking=no futhark-nightly-windows-x86_64.zip futhark-nightly-linux-x86_64.tar.xz futhark@futhark-lang.org:/var/www/htdocs/futhark-lang.org/releases
